.author-page .page-content {
	position: relative;
	z-index: 1;
}

.author-name {
	margin: 0;
	margin-top: -12px;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(180deg, var(--colour-blue), #4cf, #04f 75%);
	-webkit-background-clip: text;
	color: var(--colour-white);
	font-size: 2.1rem;
	letter-spacing: 2px;
	word-spacing: 4px;
	font-weight: 600;
	transition: 0.2s;
}

.author-links {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 12px;
	margin: 12px 0;
}

@media (max-width: 600px) {
	.author-links {
		margin-top: 10px;
		margin-bottom: 16px;
	}
}

.author-links button {
	height: 33px;
}

.author-subtitles {
	margin-top: 38px;
}

.author-subtitle {
	display: flex;
	gap: 12px;
	align-items: center;
	margin: 8px 0;
	color: var(--colour-grey-20);
	font-size: 1rem;
	font-weight: 300;
	transition: 0.2s;
}

.author-subtitle span:nth-child(1) {
	font-size: 22px;
}

.author-text {
	margin: 32px 0;
	line-height: 1.8rem;
	color: var(--colour-grey-20);
	font-size: 17px;
	font-weight: 300;
	transition: 0.2s;
}
