.home-page {
	position: relative;
	padding-bottom: 256px;
}

.home-hero {
	display: flex;
	gap: 24px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100dvh - 80px - 80px);
	max-height: 650px;
}

.home-title {
	-webkit-text-fill-color: transparent;
	background: linear-gradient(180deg, #ccc 40%, #eee 50%, #222);
	-webkit-background-clip: text;
	color: var(--colour-white);
	font-size: 4rem;
	letter-spacing: 2px;
	word-spacing: 4px;
	font-weight: 600;
	text-align: center;
	transition: 0.2s;
}

@media (max-width: 600px) {
	.home-title {
		font-size: 2.8rem;
	}
}

.home-primary-buttons {
	display: flex;
	gap: 20px;
	align-items: center;
}

@media (max-width: 600px) {
	.home-primary-buttons {
		flex-direction: column;
	}
}

.home-primary-buttons button {
	position: relative;
	padding: 8px 16px;
	border: 0;
	border-radius: 8px;
	background: var(--colour-grey-10);
	background: linear-gradient(0deg, #4af, #0044ff);
	color: var(--colour-white);
	font-size: 14px;
	font-weight: 600;
	transition: 0.2s;
	cursor: pointer;
}

.home-primary-buttons button:hover {
	z-index: 2;
	scale: 1.05;
}

.home-hero-text {
	margin-top: -12px;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(180deg, #eee, #444);
	-webkit-background-clip: text;
	color: var(--colour-white);
	font-size: 1.1rem;
	font-weight: 600;
	text-align: center;
	transition: 0.2s;
}

@media (max-width: 600px) {
	.home-hero-text {
		background: linear-gradient(180deg, #ccc, #777);
		-webkit-background-clip: text;
		font-size: 15px;
		max-width: 260px;
	}
}

.home-section {
	margin: 32px auto;
	width: calc(100% - 2 * 8px);
	max-width: 1200px;
}

.home-subtitle {
	-webkit-text-fill-color: transparent;
	background: linear-gradient(180deg, #ccc 50%, #444);
	-webkit-background-clip: text;
	margin: 16px 0;
	font-size: 2rem;
	font-weight: 600;
}

@media (max-width: 600px) {
	.home-subtitle {
		font-size: 1.6rem;
	}
}

.home-progress-list {
	display: flex;
	gap: 12px;
	flex-direction: column;
}

.home-progress-item {
	display: flex;
	gap: 8px;
	align-items: center;
	font-size: 15px;
}

.home-progress-item .fa-circle-notch {
	position: relative;
	animation: home-progress-item-icon-spin 1.5s infinite linear;
}

@keyframes home-progress-item-icon-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
