.home-page {
	position: relative;
	padding-bottom: 256px;
}

.home-hero {
	position: relative;
	display: flex;
	gap: 40px;
	margin-bottom: -32px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 450px;
	height: calc(100dvh - 80px - 190px);
	max-height: 650px;
	overflow: hidden;
}

@media (max-width: 600px) {
	.home-hero {
		height: unset;
	}
}

.home-title {
	position: relative;
	z-index: 2;
	margin-left: 20px;
	color: var(--colour-black);
	font-size: 4rem;
	letter-spacing: 2px;
	word-spacing: 4px;
	font-weight: 600;
	text-align: center;
	transition: 0.2s;
}

@media (max-width: 600px) {
	.home-title {
		margin-left: 0;
		font-size: 2.8rem;
	}
}

.home-hero-text {
	margin-top: -22px;
	margin-bottom: -8px;
	max-width: min(calc(100% - 2 * 12px), 950px);
	text-align: center;
}

.home-hero-text > span {
	color: var(--colour-black);
	-webkit-text-fill-color: transparent;
	/* background: linear-gradient(190deg, #555 20%, #000); */
	background: linear-gradient(180deg, #555 20%, #000);
	-webkit-background-clip: text;
	font-size: 2.5rem;
	font-weight: 600;
	line-height: 3.5rem;
	text-align: center;
	transition: 0.2s;
}

.home-hero-text > span:nth-child(2) {
	display: none;
}

@media (max-width: 600px) {
	.home-hero-text {
		margin-top: 24px;
		max-width: calc(100% - 2 * 12px);
	}

	.home-hero-text > span {
		font-size: 1.8rem;
		line-height: 2.2rem;
	}
}

@media (max-width: 450px) {
	.home-hero-text > span:nth-child(1) {
		display: none;
	}

	.home-hero-text > span:nth-child(2) {
		display: block;
	}
}

.home-primary-buttons {
	display: flex;
	gap: 24px;
	align-items: center;
}

@media (max-width: 400px) {
	.home-primary-buttons {
		flex-direction: column;
	}
}

.home-hero-inference-input {
	padding: 0 24px;
	border: 2px solid var(--colour-white);
	border-radius: 32px;
	width: calc(100% - 2 * 12px);
	max-width: 520px;
	height: 38px;
	box-sizing: border-box;
	font-size: 14px;
	transition: 0.2s;
	box-shadow: 0px 0px 12px var(--colour-grey-90), 0px 0px 6px var(--colour-grey-90);
}

.home-hero-inference-input:focus {
	outline: none;
	scale: 1.05;
}

.home-hero-inference-input::placeholder {
	width: calc(100% + 24px);
	scale: 0.9;
	transform-origin: left;
	transition: 0.2s;
}

.home-hero-inference-input:focus::placeholder {
	opacity: 0.45;
}

@media (max-width: 600px) {
	.home-hero-inference-input {
		font-size: 16px;
	}
}

.home-section {
	margin: 32px auto;
	margin-bottom: 140px;
	width: calc(100% - 2 * 8px);
	max-width: 1200px;
}

@media (max-width: 600px) {
	.home-section {
		width: calc(100% - 2 * 24px);
	}
}

.home-subtitle {
	-webkit-text-fill-color: transparent;
	background: linear-gradient(180deg, #444 50%, #000);
	-webkit-background-clip: text;
	margin: 16px 0;
	font-size: 2rem;
	font-weight: 600;
}

@media (max-width: 600px) {
	.home-subtitle {
		font-size: 1.6rem;
	}
}

.home-text {
	line-height: 2rem;
	color: var(--colour-grey-20);
	font-size: 17px;
	font-weight: 300;
	text-align: justify;
	transition: 0.2s;
}

.home-text b {
	font-weight: 500;
}

.home-text-bold {
	font-weight: 500;
	text-align: center;
	font-size: 1.5rem;
}

@media (max-width: 600px) {
	.home-text {
		font-size: 1rem;
		text-align: left;
	}
}

.home-text ul {
	margin-top: 0;
	margin-bottom: 0;
}

.home-text ul li {
	margin-top: 8px;
}

.home-progress-list {
	display: flex;
	gap: 12px;
	flex-direction: column;
}

.home-progress-item {
	display: flex;
	gap: 8px;
	align-items: center;
	color: var(--colour-grey-30);
}

.home-progress-item .fa-circle-notch {
	position: relative;
	animation: home-progress-item-icon-spin 1.5s infinite linear;
}

@keyframes home-progress-item-icon-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.home-cards {
	display: flex;
	flex-wrap: wrap;
}

.home-card {
	position: relative;
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 8px;
	width: calc(100% / 3 - 2 * 8px);
	transition: 0.4s;
	cursor: pointer;
}

@media (max-width: 1100px) {
	.home-card {
		width: calc(100% / 3 - 2 * 8px);
	}
}

@media (max-width: 750px) {
	.home-card {
		width: calc(100% / 2 - 2 * 8px);
	}
}

@media (max-width: 450px) {
	.home-card {
		width: calc(100% / 1 - 2 * 8px);
	}
}

.home-card-title {
	margin: 8px 0;
	margin-top: 24px;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
}

.home-card-text {
	font-size: 17px;
	font-weight: 300;
	text-align: center;
}

.home-card-image {
	display: flex;
	align-items: center;
	max-width: 100%;
	height: 150px;
}

.home-card-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.home-card-image i {
	-webkit-text-fill-color: transparent;
	background: linear-gradient(180deg, #444 50%, #000);
	-webkit-background-clip: text;
	font-size: 100px;
}

.home-card-turing-explorer .home-card-image i {
	font-size: 82px;
	scale: 1.03;
}

.home-card-turing-llm .home-card-image {
	width: 100%;
	background: linear-gradient(180deg, #444 50%, #000);
	-webkit-mask-image: url("images/turing.png");
	mask-image: url("images/turing.png");
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}
