.neural-net-background {
	--scale: 0.8;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	scale: var(--scale);
	opacity: 0.5;
}

.app-page-home .neural-net-background {
	opacity: 1;
}

/* .app-page-technical-reports .neural-net-background {
	display: none;
} */

.neural-net-background-neural-network {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-5deg);
	display: flex;
	gap: 250px;
	justify-content: center;
	align-items: center;
}

.neural-net-background-neural-network:nth-child(1) {
	z-index: -1;
}

.neural-net-background-neural-network:nth-child(2) {
	z-index: 1;
	opacity: 0.7;
}

.neural-net-background-neural-network-layer {
	display: flex;
	flex-direction: column;
	gap: 120px;
}

.neural-net-background-neural-network-neuron-container {
	position: relative;
}

.neural-net-background-neural-network-neuron-circle {
	--neuron_size: 40px;
	position: relative;
	z-index: 3;
	display: block;
	content: "";
	border: solid 1px var(--colour-grey-25);
	border-radius: 100%;

	background: var(--colour-black);

	box-sizing: border-box;
	min-width: var(--neuron_size);
	width: var(--neuron_size);
	min-height: var(--neuron_size);
	height: var(--neuron_size);

	transition: 0.2s;
	cursor: pointer;
}

.neural-net-background-neural-network-neuron-container-hovering .neural-net-background-neural-network-neuron-circle {
	border-color: var(--colour-blue);
}

.neural-net-background-neural-network-neuron-connections {
	--neuron_line_opacity: 0.3;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	margin-top: -2px;
}

.neural-net-background-neural-network-neuron-connection {
	--length: 230px;
	--angle: 0deg;
	position: absolute;
	z-index: -1;
	display: block;
	content: "";
	background: var(--colour-grey-10);
	width: var(--length);
	height: 1px;
	transform-origin: left;
	transform: rotate(var(--angle)) translate3d(0, 0, 0);
	-webkit-transform: rotate(var(--angle)) translateZ(0);
	-ms-transform: rotate(var(--angle)) translateZ(0);
	transition: 1s;
	will-change: background-position;
}

.neural-net-background-neural-network-neuron-connection-active {
	height: 2px;
	background: var(--colour-grey-30);
	transition: 0;
}

.neural-net-background-container-running-animations .neural-net-background-neural-network-neuron-connection-active {
	z-index: 3 !important;
	background: linear-gradient(90deg, var(--colour-grey-30) 50%, var(--colour-white) 85%, var(--colour-white) 90%, var(--colour-grey-30) 91%);
	background-size: 200%;
	animation: neural-net-background-neural-network-neuron-connection-gradient-flow 4s linear infinite;
	transition: 1s;
}

.neural-net-background-container-running-animations
	.neural-net-background-neural-network:nth-child(1)
	.neural-net-background-neural-network-neuron-connection-active {
	height: 2px;
	background: linear-gradient(90deg, var(--colour-grey-20) 50%, var(--colour-blue) 85%);
	background-size: 200%;
}

.app-page-technical-report .neural-net-background-neural-network-neuron-connection-active {
	background: var(--colour-grey-30);
	animation: none;
}

.neural-net-background-neural-network-layer:nth-child(1) .neural-net-background-neural-network-neuron-connection-active {
	animation-delay: 0s;
}

.neural-net-background-neural-network-layer:nth-child(2) .neural-net-background-neural-network-neuron-connection-active {
	animation-delay: 0.34s;
}

.neural-net-background-neural-network-layer:nth-child(3) .neural-net-background-neural-network-neuron-connection-active {
	animation-delay: 0.68s;
}

.neural-net-background-neural-network-layer:nth-child(4) .neural-net-background-neural-network-neuron-connection-active {
	animation-delay: 1.02s;
}

.neural-net-background-neural-network-layer:nth-child(5) .neural-net-background-neural-network-neuron-connection-active {
	animation-delay: 1.36s;
}

.neural-net-background-neural-network-layer:nth-child(6) .neural-net-background-neural-network-neuron-connection-active {
	animation-delay: 1.7s;
}

.neural-net-background-neural-network-layer:nth-child(7) .neural-net-background-neural-network-neuron-connection-active {
	animation-delay: 2.04s;
}

.neural-net-background-neural-network-layer:nth-child(8) .neural-net-background-neural-network-neuron-connection-active {
	animation-delay: 2.38s;
}

.neural-net-background-neural-network-layer:nth-child(9) .neural-net-background-neural-network-neuron-connection-active {
	animation-delay: 2.72s;
}

.neural-net-background-neural-network-layer:nth-child(10) .neural-net-background-neural-network-neuron-connection-active {
	animation-delay: 3.06s;
}

.neural-net-background-neural-network-layer:nth-child(11) .neural-net-background-neural-network-neuron-connection-active {
	animation-delay: 3.4s;
}

.neural-net-background-neural-network-layer:nth-child(12) .neural-net-background-neural-network-neuron-connection-active {
	animation-delay: 3.74s;
}

@keyframes neural-net-background-neural-network-neuron-connection-gradient-flow {
	0% {
		background-position: 200%;
	}
	18% {
		background-position: 0%;
	}
}

.neural-net-background-neural-network-layer-hovering .neural-net-background-neural-network-neuron-connections,
.neural-net-background-neural-network-next-layer-hovering .neural-net-background-neural-network-neuron-connections {
	--neuron_line_opacity: 0;
}

.neural-net-background-neural-network-neuron-container-hovering .neural-net-background-neural-network-neuron-connections,
.neural-net-background-neural-network-neuron-connection-hovering {
	z-index: 2;
	--neuron_line_colour: var(--colour-white);
	--neuron_line_opacity: 1;
}
