.latent-search-bar-container {
	display: flex;
	gap: 48px;
	justify-content: space-between;
	align-items: center;
	margin: 32px 0;
	margin-bottom: 0;
	padding: 0 16px;
	box-sizing: border-box;
	width: 100%;
	transition: 0.2s;
}

@media (max-width: 940px) {
	.latent-search-bar-container {
		gap: 32px;
		flex-direction: column;
	}
}

.latent-search-bar {
	position: relative;
	z-index: 2;
	padding: 0 24px;
	border: 2px solid var(--colour-white);
	border-radius: 32px;
	width: calc(100% - 2 * 12px);
	max-width: 750px;
	height: 42px;
	box-sizing: border-box;
	font-size: 16px;
	transition: 0.2s;
	box-shadow: 0px 0px 12px var(--colour-grey-90), 0px 0px 6px var(--colour-grey-90);
}

.latent-search-bar:focus {
	outline: none;
	scale: 1.05;
}

.latent-search-bar::placeholder {
	width: calc(100% + 24px);
	scale: 0.9;
	transform-origin: left;
	transition: 0.2s;
}

.latent-search-bar:focus::placeholder {
	opacity: 0.45;
}

.latent-search-bar-container-getting-results .latent-search-bar {
	opacity: 0.5;
}

@media (max-width: 940px) {
	.latent-search-bar {
		font-size: 16px;
	}
}

.latent-search-navigation-container {
	flex-shrink: 0;
	display: flex;
	gap: 24px;
	align-items: center;
}

@media (max-width: 940px) {
	.latent-search-navigation-container {
		justify-content: center;
		width: 100%;
	}
}

.latent-search-navigation-item {
	display: flex;
	gap: 10px;
	align-items: center;
}

.latent-search-navigation-item label {
	display: flex;
	gap: 6px;
	align-items: center;
	font-size: 15px;
	color: var(--colour-grey-30);
}

@media (max-width: 600px) {
	.latent-search-navigation-item {
		gap: 12px;
		flex-direction: column;
	}
}

.latent-search-navigation-item input {
	position: relative;
	z-index: 2;
	padding: 0 16px;
	border: 2px solid var(--colour-white);
	border-radius: 32px;
	width: calc(100% - 2 * 12px);
	max-width: 84px;
	height: 35px;
	box-sizing: border-box;
	font-size: 15px;
	transition: 0.2s;
	box-shadow: 0px 0px 12px var(--colour-grey-90), 0px 0px 6px var(--colour-grey-90);
}

@media (max-width: 800px) {
	.latent-search-navigation-item input {
		width: 100%;
	}
}

.latent-search-navigation-item input:focus {
	outline: none;
	scale: 1.05;
}

.latent-search-navigation-item input::placeholder {
	width: calc(100% + 24px);
	scale: 0.9;
	transform-origin: left;
	transition: 0.2s;
}

.latent-search-navigation-item input:focus::placeholder {
	opacity: 0.45;
}

@media (max-width: 940px) {
	.latent-search-navigation-item input {
		font-size: 16px;
	}
}

.latent-search-navigation-go-to-latent-btn {
	padding: 0 16px;
	height: 35px;
	white-space: nowrap;
}
