.latent-top-sequences-list-container {
	margin-top: 8px;
	padding: 0 16px;
	box-sizing: border-box;
}

.latent-top-sequences-list-title {
	position: relative;
	width: fit-content;
}

.latent-top-sequences-list-title span {
	font-size: 17px;
	font-weight: 600;
}

.latent-top-sequences-list-title i {
	position: absolute;
	top: -1px;
	right: -22px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--colour-black);
	border-radius: 100%;
	width: 15px;
	height: 15px;
	font-size: 11px;
	cursor: pointer;
}

.latent-top-sequences-list-title-info {
	position: absolute;
	z-index: 1;
	top: 30px;
	padding: 12px 20px;
	border: 1px solid var(--colour-grey-90);
	border-radius: 8px;
	width: max-content;
	max-width: min(450px, 100dvw);
	background: var(--colour-white);
	opacity: 0;
	pointer-events: none;
	transition: 0.2s;
}

.latent-top-sequences-list-title i:hover + .latent-top-sequences-list-title-info {
	opacity: 1;
}

.latent-top-sequences-list {
	display: flex;
	flex-direction: column;
	margin: 8px 0;
}

.latent-top-sequences-list-loading-circle-container {
	position: relative;
	height: 75px;
	margin-bottom: 32px;
}

.latent-top-sequences-item {
	display: flex;
	gap: 12px;
	flex-direction: column;
	margin: 8px 0;
	padding: 16px 16px;
	padding-bottom: 20px;
	border: 1px solid var(--colour-grey-90);
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
	background: var(--colour-white);
}

.latent-top-sequences-item-info {
	display: flex;
	gap: 32px;
	align-items: center;
	width: 100%;
}

.latent-top-sequences-item-info-avg-act {
	font-size: 14px;
	color: var(--colour-grey-40);
}

.latent-top-sequences-item-view-top-other-latents-btn {
	display: flex;
	gap: 8px;
	align-items: center;
	margin-left: auto;
	padding: 0 16px;
	border: 0;
	border-radius: 32px;
	background: var(--colour-grey-90);
	color: var(--colour-grey-20);
	height: 28px;
	cursor: pointer;
	transition: 0.2s;
}

.latent-top-sequences-item-view-top-other-latents-btn:hover {
	scale: 1.04;
}

.latent-top-sequences-item-view-top-other-latents-btn span {
	font-size: 13px;
	white-space: pre;
}

.latent-top-sequences-item-tokens {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 6px 0;
}

.latent-top-sequences-item-token-item {
	position: relative;
}

.latent-top-sequences-item-token-item-token {
	position: relative;
	z-index: 1;
	white-space: pre-wrap;
	min-height: 20px;
	font-size: 14px;
	cursor: default;
	color: var(--colour-grey-10);
}

.latent-top-sequences-item-token-item:nth-child(even) .latent-top-sequences-item-token-item-token {
	color: var(--colour-black);
}

.latent-top-sequences-item-token-item-token::before {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--colour-grey-90);
	opacity: 0.65;
	transition: 0.2s;
}

.latent-top-sequences-item-token-item:nth-child(even) .latent-top-sequences-item-token-item-token::before {
	background: var(--colour-grey-95);
}

.latent-top-sequences-item-token-item:hover .latent-top-sequences-item-token-item-token::before {
	opacity: 0.4;
}

.latent-top-sequences-item-token-item-value {
	position: absolute;
	bottom: 44px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	display: flex;
	gap: 6px;
	align-items: center;
	padding: 1px 6px;
	border: 1px solid var(--colour-grey-90);
	border-radius: 2px;

	background: var(--colour-white);
	color: var(--colour-blue);
	font-weight: 400;
	font-size: 13px;
	opacity: 0;
	pointer-events: none;
	user-select: none;
	transition: 0.2s;
}

.latent-top-sequences-item-token-item:hover .latent-top-sequences-item-token-item-value {
	opacity: 1;
}

.latent-top-sequences-list-header {
	display: flex;
	align-items: center;
	margin-top: 24px;
	margin-bottom: -8px;
	padding: 0 8px;
}

.latent-top-sequences-list-header div:nth-child(1) {
	width: 36px;
	padding-right: 20px;
}

.latent-top-sequences-item-token-item-value-graph {
	--token-value-fraction: 0;
	position: relative;
	display: block;
	margin: 3px auto;
	width: 7px;
	height: 16px;
	background: var(--colour-grey-90);
}

.latent-top-sequences-item-token-item-value-graph::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--colour-white);
	opacity: 0.1;
}

.latent-top-sequences-item-token-item-value-graph-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	content: "";
	width: 100%;
	height: calc(100% * var(--token-value-fraction));
	background: var(--colour-blue);
}

.latent-top-sequences-item-view-top-other-latent-btn {
	padding: 8px;
	border-radius: 100%;
	background: var(--colour-black);
	color: var(--colour-white);
	font-size: 16px;
	transition: 0.2s;
}

.latent-top-sequences-item-view-top-other-latent-btn:hover {
	background: var(--colour-white);
	color: var(--colour-black);
}

.latent-top-sequences-list-toggle-show-all-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.latent-top-sequences-list-toggle-show-all-btn {
	padding: 10px 20px;
	border: 2px solid var(--colour-white);
	border-radius: 32px;
	background: var(--colour-black);
	color: var(--colour-white);
	font-size: 13px;
	transition: 0.2s;
	cursor: pointer;
}

.latent-top-sequences-list-toggle-show-all-btn:hover {
	scale: 1.04;
}

.latent-top-sequences-item-other-latents-container {
	position: relative;
	padding: 0 8px;
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition: 0.2s ease-in;
	pointer-events: none;
}

.latent-top-sequences-item-other-latents-container-show {
	padding-bottom: 64px;
	height: 100%;
	opacity: 1;
	pointer-events: all;
	transition: opacity 0.2s ease-out;
}

.latent-top-sequences-item-other-latents-collection-type-container {
	display: flex;
	gap: 16px 48px;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 6px;
	margin-bottom: 24px;
	width: 100%;
	color: var(--colour-grey-75);
}

.latent-top-sequences-item-other-latents-collection-type-container > div {
	display: flex;
	gap: 8px;
	align-items: center;
}

.latent-top-sequences-item-other-latents-collection-type-title {
	margin-right: 12px;
	font-size: 14px;
	font-weight: 300;
	color: var(--colour-black);
}

.latent-top-sequences-item-other-latents-collection-type-value {
	width: 214px;
	font-size: 14px;
	font-weight: 300;
	color: var(--colour-black);
	text-align: center;
}

.latent-top-sequences-item-other-latents-collection-type-switch-btn {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	border-radius: 100%;
	width: 26px;
	height: 26px;
	font-size: 13px;
	background: var(--colour-grey-90);
	color: var(--colour-grey-20);
	transition: 0.2s;
	cursor: pointer;
}

.latent-top-sequences-item-other-latents-collection-type-switch-btn:hover {
	scale: 1.04;
}

.latent-top-sequences-item-other-latents-collection-type-switch-btn i {
	margin-top: 1px;
}

.latent-top-sequences-item-other-latents-layer {
	position: relative;
	display: flex;
	gap: 32px;
	margin-bottom: 48px;
	margin-bottom: 34px;
	width: calc(100% - 24px);
	z-index: calc(12 - var(--layer-index));
}

.latent-top-sequences-item-other-latents-layer:hover {
	z-index: 20;
}

.latent-top-sequences-item-other-latents-layer-title {
	flex-shrink: 0;
	margin-top: 1px;
	width: 54px;
	color: var(--colour-grey-50);
	font-size: 13px;
}

.latent-top-sequences-item-other-latents-layer-sequences {
	position: relative;
	display: flex;
	gap: 12px 0;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

.latent-top-sequences-item-other-latent-container {
	position: relative;
	margin-right: 4px;
	min-width: 50px;
	width: calc(100% / 16 - 4px);
}

.latent-top-sequences-latents-latent-container button {
	position: relative;
	margin: 0 auto;
	padding: 0 8px;
	border: 1px solid var(--colour-grey-80);
	border-radius: 100%;
	width: 22px;
	height: 22px;
	background: var(--colour-white);
	color: var(--colour-grey-50);
	transition: 0.2s;
	cursor: pointer;
}

.latent-top-sequences-latents-latent-container:hover button {
	scale: 1.04;
}

.latent-top-sequences-latents-latent button span {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--colour-black);
	font-size: 13px;
	font-weight: 300;
	transition: 0.2s;
	text-shadow: 0px 0px 6px var(--colour-white), 0px 0px 6px var(--colour-white), 0px 0px 6px var(--colour-white);
}

@media (min-width: 1400px) {
	.latent-top-sequences-item-other-latents-layer {
		margin-bottom: 28px;
	}

	.latent-top-sequences-item-other-latents-layer-sequences {
		gap: 12px 0;
	}

	.latent-top-sequences-item-other-latents-layer-title {
		margin-top: 0px;
	}

	.latent-top-sequences-latents-latent button span {
		top: 50% !important;
		left: 6.5px !important;
		transform: translateY(-50%) !important;
	}
}

.latent-top-sequences-item-other-latents-collection-type-toggle-hide-common-latents-label {
	margin-right: 12px;
	font-size: 14px;
	font-weight: 300;
	color: var(--colour-black);
}

.latent-top-sequences-item-other-latents-collection-type-toggle-hide-common-latents {
	flex-shrink: 0;
	position: relative;
	border-radius: 32px;
	width: 50px;
	height: 26px;
	border: 2px solid var(--colour-grey-90);
	background: var(--colour-white);
	transition: 0.2s;
	cursor: pointer;
}

.latent-top-sequences-item-other-latents-collection-type-toggle-hide-common-latents-active {
	border-color: var(--colour-grey-75);
}

.latent-top-sequences-item-other-latents-collection-type-toggle-hide-common-latents::before {
	position: absolute;
	top: 50%;
	left: 4px;
	transform: translateY(-50%);
	display: block;
	content: "";
	border-radius: 100%;
	width: 19px;
	height: 19px;
	background: var(--colour-grey-90);
	transition: 0.2s;
}

.latent-top-sequences-item-other-latents-collection-type-toggle-hide-common-latents-active::before {
	left: 24px;
	background: var(--colour-grey-75);
}

.latent-top-sequences-latent-preview {
	position: absolute;
	z-index: 3;
	top: 32px;
	left: -24px;
	padding: 12px;
	border: 1px solid var(--colour-grey-85);
	border-radius: 5px;
	width: 450px;
	max-width: calc(100dvw - 2 * 60px);
	min-height: 160px;
	background: var(--colour-white);
	color: var(--colour-black);
	opacity: 0;
	pointer-events: none;
	transition: 0.4s;
	transition-delay: 0s;
}

@media (max-width: 600px) {
	.latent-top-sequences-latent-preview {
		position: fixed;
		z-index: 100;
		top: unset;
		bottom: 24px;
		left: 50% !important;
		right: unset !important;
		transform: translateX(-50%);
		height: fit-content;
	}
}

.latent-top-sequences-item-other-latents-layer .latent-top-sequences-latent-preview {
	opacity: 0;
	pointer-events: none;
}

.latent-top-sequences-item-other-latents-layer:hover
	.latent-top-sequences-item-other-latent-container:hover:not(.latent-top-sequences-item-other-latent-container-loading)
	.latent-top-sequences-latent-preview {
	opacity: 1;
	pointer-events: none;
}

.latent-top-sequences-item-other-latents-layer-use-higher-preview .latent-top-sequences-latent-preview {
	top: unset !important;
	bottom: 36px !important;
}

.latent-top-sequences-latent-preview-location {
	display: flex;
	gap: 8px;
	align-items: center;
	margin-bottom: 12px;
}

.latent-top-sequences-latent-preview-location span {
	padding: 4px 12px;
	border-radius: 32px;
	font-size: 15px;
	font-weight: 300;
	background: var(--colour-grey-90);
	color: var(--colour-black);
	transition: 0.2s;
}

.latent-top-sequences-latent-preview-top-sequences-label {
	margin: 8px 2px;
	flex-shrink: 0;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: var(--colour-black);
	transition: 0.2s;
}

.latent-top-sequences-latent-preview-top-sequences {
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.latent-top-sequences-latent-preview-top-sequence {
	margin: 0 2px;
	font-size: 14px;
}

@media (max-width: 500px) {
	.latent-top-sequences-latent-preview-top-sequence {
		font-size: 13px;
	}
}

.latent-top-sequences-latent-preview-top-sequence:nth-child(3) {
	display: none;
}

.latent-top-sequences-item-other-latents-label {
	position: absolute;
	bottom: 50px;
	left: 94px;
	display: flex;
	gap: 12px;
	align-items: center;
	color: var(--colour-grey-40);
	transition: 0.2s;
}

.latent-top-sequences-item-other-latents-label span {
	font-size: 14px;
}

@media (max-width: 650px) {
	.latent-top-sequences-item-other-latents-label {
		bottom: 40px;
		left: 40px;
	}
}

@media (max-width: 550px) {
	.latent-top-sequences-item-other-latents-label {
		bottom: 40px;
		left: 20px;
	}
}
