@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

:root {
	--colour-black: #000;
	--colour-white: #fff;
	--colour-grey-10: #1e1e1e;
	--colour-grey-20: #2a2a2a;
	--colour-grey-25: #3a3a3a;
	--colour-grey-30: #4a4a4a;
	--colour-grey-40: #6a6a6a;
	--colour-grey-50: #808080;
	--colour-grey-60: #949494;
	--colour-grey-70: #a3a3a3;
	--colour-grey-80: #c3c3c3;
	--colour-grey-90: #e2e2e2;
	--colour-grey-95: #f0f0f0;
	--colour-blue: #0044ff;
	--colour-blue-tint: #0088ff;
}

* {
	font-family: Inter, system-ui, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: var(--colour-black);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	background: var(--colour-white);
	color: var(--colour-black);
}

button {
	font-family: Inter, system-ui, sans-serif;
}

.page {
	padding-top: 60px;
}

.page-content {
	margin: 0 auto;
	padding-bottom: 128px;
	width: calc(100% - 2 * 12px);
	max-width: 1300px;
}

.page-title {
	margin: 32px 0;
}

.page-title > span {
	margin: 32px 0;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(180deg, #444 50%, #000);
	-webkit-background-clip: text;
	color: var(--colour-black);
	font-size: 1.8rem;
	letter-spacing: 2px;
	word-spacing: 4px;
	font-weight: 600;
	transition: 0.2s;
}

@media (max-width: 1000px) {
	.page-title > span {
		margin: 16px 0;
		font-size: 1.3rem;
	}
}

.button {
	position: relative;
	display: flex;
	align-items: center;
	padding: 0 22px;
	border: 0;
	border-radius: 32px;
	width: fit-content;
	height: 40px;
	background: var(--colour-black);
	color: var(--colour-white);
	font-size: 14px;
	font-weight: 600;
	transition: 0.2s;
	cursor: pointer;
}

.button:hover {
	z-index: 2;
	scale: 1.04;
	background: var(--colour-grey-20);
}

.button span {
	margin-top: -1px;
	color: var(--colour-white);
}
