.technical-report-page {
	--contentMaxWidth: 800px;
}

.technical-report-page .page-title {
	--title-scale: 1;
	margin: 96px auto;
	max-width: var(--contentMaxWidth);
	font-size: calc(2.2rem * var(--title-scale));
	text-align: center;
}

@media (max-width: 480px) {
	.technical-report-page .page-title {
		font-size: calc(1.8rem * var(--title-scale));
	}
}

@media (max-width: 360px) {
	.technical-report-page .page-title {
		font-size: calc(1.4rem * var(--title-scale));
	}
}

.technical-report-page .page-content {
	max-width: unset;
}

.technical-report-section-1 {
	position: relative;
	margin-bottom: 192px;
}

.technical-report-section-1::before {
	position: absolute;
	bottom: -96px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	content: "";
	width: 100%;
	max-width: var(--contentMaxWidth);
	height: 1px;
	background: var(--colour-grey-30);
}

.technical-report-section-1:last-child:before {
	display: none;
}

.technical-report-text {
	margin: 16px auto;
	max-width: var(--contentMaxWidth);
	white-space: pre-wrap;
	line-height: 1.9rem;
	color: var(--colour-grey-90);
}

.technical-report-heading-1 {
	margin: 0 auto;
	max-width: var(--contentMaxWidth);
	font-size: 1.7rem;
	font-weight: 600;
	color: var(--colour-grey-90);
}

.technical-report-heading-2 {
	margin: 0 auto;
	margin-top: 48px;
	max-width: var(--contentMaxWidth);
	font-size: 1.3rem;
	font-weight: 600;
	color: var(--colour-grey-90);
}

.technical-report-heading-3 {
	margin: 0 auto;
	margin-top: 2rem;
	max-width: var(--contentMaxWidth);
	font-size: 1.15rem;
	font-weight: 600;
	color: var(--colour-grey-90);
}

.technical-report-page p {
	margin: 0;
}

.technical-report-body p {
	margin: 0;
	font-weight: 300;
}

.technical-report-body ol,
.technical-report-body ul {
	margin: 0;
	margin-top: -34px;
	margin-bottom: -30px;
}

.technical-report-body li {
	margin: -8px 0;
}

.technical-report-intext-references {
	color: var(--colour-grey-90);
	transition: 0.2s;
	cursor: pointer;
}

.technical-report-intext-references:hover {
	color: var(--colour-white);
}

.technical-report-intext-reference {
	padding: 0 2px;
}

.technical-report-image {
	display: flex;
	gap: 8px;
	flex-direction: column;
	margin: 0 auto;
	width: fit-content;
}

.technical-report-image-margin {
	margin: 24px auto;
}

.technical-report-image img {
	margin: 0 auto;
	max-width: min(var(--contentMaxWidth), 100%);
	max-height: 65dvh;
}

.technical-report-image label {
	margin: 0 auto;
	margin-bottom: 9px;
	max-width: min(var(--contentMaxWidth), 100%);
	white-space: pre-wrap;
	line-height: 1.9rem;
	color: var(--colour-grey-90);
	letter-spacing: 1px;
	font-size: 0.85rem;
	text-align: center;
}
